# Ignore virtual environments
myvirtualenv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore .env file
.env

# Ignore IDE/editor config files
.vscode/
*.swp
.DS_Store
*.log

# Byte-compiled / optimized / DLL files
*.pyc
